body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

#content {

  .focus {
    margin-top: 4px;

    &.message {
      border-left: 2px solid #fafafa;
      border-right: 2px solid #fafafa;

      margin:0px auto;
      width: 50%;

      .core {
        text-align: center;
      }

      h2, h1 {
        margin: 0 0 4px 0;
        padding: 0;
      }

      p {
        margin: 0;
        padding: 0
      }

      .partition {
        margin-top: 4%;
      }
    }
  }

  .partition {
    margin-bottom: 2%;
    padding-left: 2px;
  }

}

p.byline {
  font-size: small;
  padding: 0;
  margin: 0 0 0 2px;

  &.small {
    font-size: x-small;
    border-bottom: 1px solid #dedede;
    display: inline-block;
    padding: 0 0 1px 0;
    margin: 0
  }
}

.maxi-form {
  button {
    font-size: xx-large;
    margin-right: 2%;
  }
}